<BR>
<B>Notification Sent.</B><BR>
<BR>
A confirmation notice containing a URL which can be used to change your login has been sent to <TMPL_VAR NAME=EMAIL>.<BR>
<BR>
To change your login, you must go to the link provided in the e-mail message that was just sent to you.<BR>
<BR>
Thank you,<BR>
Purified Data Public-DNS team.
<BR>
