<BR>
<TMPL_IF ERROR><DIV ALIGN=CENTER><B><TMPL_VAR NAME=ERROR></B></DIV><BR></TMPL_IF>
<B>Requested an email/login change?</B><BR>
<BR>
If you have received your confirmation e-mail, and want to change your login to the one referenced in the e-mail, simply enter the key provided in the e-mail into the form below, and click submit.<BR>
<FORM method=post action=chlogin.html>
Key: <INPUT TYPE=text name=key size=64 maxlength=255><INPUT TYPE=submit value=Submit>
</FORM>
