<BR>
<B>Login change request successful.</B><BR>
<BR>
Your login has been changed. Please logout, and log back in with the new login.<BR>
Your new login is <B><TMPL_VAR NAME=EMAIL></B>. If you have any problems, check the FAQ <A HREF=faq.html>here</A>, or contact us through the Contact Us link above.<BR>
<BR>
