<BR>
<B>Password Update Success!</B><BR>
<BR>
Your password for the <B><TMPL_VAR NAME=EMAIL></B> account has been successfully updated.<BR>
You will need to use this password the next time you login. Please make sure you write it down in a safe place.
<BR>
<BR>
