
<BR>
<FORM METHOD=post action="<TMPL_VAR NAME=POSTSCRIPT>">
<INPUT TYPE=hidden name=action value=domain_add_verify>
<TABLE  CELLPADDING=0 CELLSPACING=0 BORDER=0 BGCOLOR=#000000 WIDTH=100%>
<TR><TD>
<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0 WIDTH=100%>
<TR>
	<TH BGCOLOR=#7d9fc4><FONT COLOR=#FFFFFF>Add Domain</FONT></TH>
</TR>
<TR>
	<TD BGCOLOR=#d0e1f5>DNS Zone To Add:<INPUT TYPE=text name=zone><SELECT name=tld>
		<TMPL_LOOP name=TLDLOOP>
			<OPTION><TMPL_VAR NAME=TLD></TMPL_LOOP>
		</SELECT> <SELECT name=type>
			<OPTION VALUE=master><TMPL_VAR NAME=SYSTEM_NAME> is zone master
			<OPTION VALUE=slave><TMPL_VAR NAME=SYSTEM_NAME> is a zone slave
		</SELECT> <INPUT TYPE=submit value="Add Zone">
	</TD>
</TR>
<TR>
	<TD BGCOLOR=#d0e1f5>
	Public-dns.org currently supports top level domains only (ex. we support domain.com.au, but not subdomain.domain.com.au).<BR>
	If your domain has a TLD that is not listed above, please follow the "Contact Us" link above, and request it be added.<BR>
	Zones must consist of 63 characters or less, and be may consist of letters, numbers, and dashes.<BR>
	Once submitted, your domain will go live on our name servers, but will live in our pending queue until we verify the root name servers are pointing your domain to our name servers. Your contact e-mail will be notified if there are any problems.
	</TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
