<BR>

<TABLE  CELLPADDING=0 CELLSPACING=0 BORDER=0 BGCOLOR=#000000 WIDTH=100%>
<TR><TD>
<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0 WIDTH=100%>
<TR>
	<TD BGCOLOR=#d0e1f5>
The new zone you submitted [<TMPL_VAR NAME=DOMAIN>] has been accepted.<BR>
You can check it's status by viewing your pending domain queue.<BR>
You will be sent an automated e-mail once it has been processed. You should recieve this message within the next 15 minutes, but please allow up to 12 hours for it to be processed. If the new zone is accepted, it will automatically be made live on our system.<BR>
<BR>
See you back here soon!
	</TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
