This is an automated message to inform you of updates to a domain which
has your email address as it's registered contact.

The zone <TMPL_VAR NAME=DOMAIN> which you submitted has passed our
authorization checks, but already exists in our system.

Please login to <TMPL_VAR NAME=ROOT_URI>, and check the "List All Domains".
If you domain is not in there, then it is under another account. If you
believe this is incorrect, please see our Domain Dispute policy at:
	<TMPL_VAR NAME=ROOT_URI>/index.html?section=domaindisputes
and follow the steps needed to resolve this conflict.

--
<TMPL_VAR NAME=EMAIL_SIG>
