We recieved a password change request for the "<TMPL_VAR NAME=EMAIL>"
login to <TMPL_VAR NAME=ROOT_URI> from a user on the IP address
<TMPL_VAR NAME=IP>.

If you didn't make this request, please ignore this message.
We place a high value on our users privacy, and don't reveal customer
information to anyone. For more information on our privacy policy,
please direct your browser to:
        <TMPL_VAR NAME=ROOT_URI>/privacypolicy.htm


We're sorry, but we do not show <TMPL_VAR NAME=EMAIL> as a current
user of <TMPL_VAR NAME=SYSTEM_NAME> services.

If you would like a free account, please see our signup page at:
    <TMPL_VAR NAME=ROOT_URI>/signup.html

Thank you,
--
<TMPL_VAR NAME=EMAIL_SIG>
