We recieved a password change request for the "<TMPL_VAR NAME=EMAIL>"
login to <TMPL_VAR NAME=ROOT_URI>.

If you didn't make this request, please ignore this message.
We place a high value on our users privacy, and don't reveal customer
information to anyone. For more information on our privacy policy,
please direct your browser to:
        <TMPL_VAR NAME=ROOT_URI>/privacypolicy.htm

To update your password on the <TMPL_VAR NAME=SYSTEM_NAME> account for
<TMPL_VAR NAME=EMAIL>, open the following URL in a web browser.

<TMPL_VAR NAME=ROOT_URI>/forgotpassword.html?action=conf&key=<TMPL_VAR NAME=URL>


If, for some reason, that link doesn't work for you, you can also
update your password by loading up the following page in your web browser:
    <TMPL_VAR NAME=ROOT_URI>/forgotpassword.html?action=conf
and entering the following in the form field provided on that page:
 <TMPL_VAR NAME=URL2>

--
<TMPL_VAR NAME=EMAIL_SIG>
