This is an automated message to inform you of updates to a domain which
has your email address as it's registered contact.

The zone <TMPL_VAR NAME=DOMAIN> has been authorized to be added to our
system. To begin editing your domain records, simply login to
<TMPL_VAR NAME=ROOT_URI>, and head to the domain admin.

The domain will be active on our servers and ready for DNS queries
within the next 12 hours.

--
<TMPL_VAR NAME=EMAIL_SIG>
