Dear subscriber,

Your <TMPL_VAR NAME=SYSTEM_NAME> login has gone unused
for one month, and is being automatically terminated.
There were no domains added to your account, or pending to be
added, and your login was created one month ago.

If you would like to add a domain to our free domain name hosting
service, you will first need to signup for another free account.
You can even use this same login again. Our signup page is
located here:
    <TMPL_VAR NAME=ROOT_URI>/signup.html

If you are no longer interested in using this login, please
ignore this message and do nothing. All your account information
will automatically be removed from our system, and you will not
recieve any more notifications from us.

Thank you,
--
<TMPL_VAR NAME=EMAIL_SIG>
