This is an automated message to inform you of updates to a domain which
has your email address as it's registered contact.

The zone <TMPL_VAR NAME=DOMAIN> has been removed from our pending domain
queue. It had been been in our queue for over two weeks without being
able to confirm it's validity.

If you would like to try to re-submit this zone to <TMPL_VAR NAME=SYSTEM_NAME>,
please go to <TMPL_VAR NAME=ROOT_URI>, login, and click on add
domain.

--
<TMPL_VAR NAME=EMAIL_SIG>
