Dear subscriber,

Your <TMPL_VAR NAME=SYSTEM_NAME> login has gone unused for two weeks and
will be automatically removed in 14 days unless at least one
domain is added to your account within that time.

To add a domain now, and keep your account active, simply go to
    <TMPL_VAR NAME=ROOT_URI>
Login, and select the "Add Domain" option.

If you are no longer interested in using this login, please
ignore this message and do nothing. You will recieve one more
e-mail when your account is automatically terminated 14 days
from now.

Thank you,
--
<TMPL_VAR NAME=EMAIL_SIG>
