Welcome to <TMPL_VAR NAME=SYSTEM_NAME>!

For your convenience, your login information, and some important links
have been included below. Please keep your login and password in a safe
place. If you ever forget or lose your password, you can have a new one
e-mailed to you by going to:
    <TMPL_VAR NAME=ROOT_URI>/forgotpassword.html

Your login: <TMPL_VAR NAME=LOGIN>
Your Password: <TMPL_VAR NAME=PASSWORD>

To login, simply to go <TMPL_VAR NAME=ROOT_URI> and enter your
login information in the form on the upper right of the page.

To manage your domains:
    <TMPL_VAR NAME=ROOT_URI>/list.html

To add a new domain, go to the link above, and click "Add Domain".

To view our help pages:
    <TMPL_VAR NAME=ROOT_URI>/index.html?section=help

Thank you for choosing <TMPL_VAR NAME=SYSTEM_NAME>
--
<TMPL_VAR NAME=EMAIL_SIG>
