We recieved a login change request for the "<TMPL_VAR NAME=OLDLOGIN>"
login to <TMPL_VAR NAME=ROOT_URI>.

If you didn't make this request, please ignore this message.
We place a high value on our users privacy, and don't reveal customer
information to anyone. For more information on our privacy policy,
please direct your browser to:
        <TMPL_VAR NAME=ROOT_URI>/privacypolicy.htm

To change the email address and login name on the <TMPL_VAR NAME=SYSTEM_NAME>
account for "<TMPL_VAR NAME=OLDLOGIN>"
to "<TMPL_VAR NAME=NEWLOGIN>",
open the following URL in a web browser.

<TMPL_VAR NAME=ROOT_URI>/chlogin.html?key=<TMPL_VAR NAME=KEY>


If, for some reason, that link doesn't work for you, you can also
update your login by loading up the following page in your web browser:
    <TMPL_VAR NAME=ROOT_URI>/chlogin.html
and entering the following in the form field provided on that page:
 <TMPL_VAR NAME=KEY2>

--
<TMPL_VAR NAME=EMAIL_SIG>
