We recieved a signup request claiming to be from someone with your e-mail
address [<TMPL_VAR NAME=LOGIN>] for our <TMPL_VAR NAME=SYSTEM_NAME> service
at <TMPL_VAR NAME=ROOT_URI>

If you didn't make this request, please ignore this message.
We place a high value on our users privacy. If you ignore this message,
your address will automatically be completely removed from our system.
For more information on our privacy policy, please direct your browser to:
    <TMPL_VAR NAME=ROOT_URI>/privacypolicy.htm

To activate your free account, we need a final confirmation from you by
clicking the link below:
<TMPL_VAR NAME=ROOT_URI>/signup.html?confirm=<TMPL_VAR NAME=PKEY>

Please note, your e-mail address (<TMPL_VAR NAME=LOGIN>) will become your
login username.
After clicking this link, you will automatically be logged in, and your
login information will be sent to you.

--
<TMPL_VAR NAME=EMAIL_SIG>
