This is an automated message to inform you of updates to a domain which
has your email address as it's registered contact.

We have been unable to verify the authoritative name server for your domain,
<TMPL_VAR NAME=DOMAIN>, for the past <TMPL_VAR NAME=HOURS_IN_QUEUE> hours.
The name server records for <TMPL_VAR NAME=DOMAIN> must include our
name server: <TMPL_VAR NAME=OUR_DNS_SERVER>

Your domain will remain in our queue for 14 days, and will periodically be
checked. If changes are made to the NS records for your domain within this
time, your domain will be added and you will be notified.
You will be notified every 24 hours as to the current status until either
the 14 day deadline is reached and the domain removed from our queue, or
the domain is added to our system.

--
<TMPL_VAR NAME=EMAIL_SIG>
