<BR>
<B>Password Update Success!</B><BR>
<BR>
Your password for the <B><TMPL_VAR NAME=EMAIL></B> account has been successfully updated.<BR>
To login and begin managing your domains, please enter your login and new password in the "Login:" and "Password:" fields above, and click the "Login" button.
<BR>
<BR>
