<BR>
<B>Confirm Password Update</B><BR>
<BR>
<FORM METHOD=post action=forgotpassword.html>
<INPUT TYPE=hidden name=action value=conf>
Please enter your confirmation key to continue: <INPUT TYPE=text name=key size=80> <INPUT TYPE=submit value=Submit>
</FORM>
<BR>
