<BR>
<B>Notification Sent.</B><BR>
<BR>
A confirmation notice containing a URL which can be used to change your password has been sent to <TMPL_VAR NAME=EMAIL>.<BR>
<BR>
To change your password, you must go to the link provided in the e-mail message that was just sent to you. If you no longer have access to that e-mal account, yet still have domains hosted with Public-DNS.org, please contact our support department directly from our <A HREF=index.html?section=contact>contact us page</A>.<BR>
<BR>
Thank you,<BR>
Purified Data Public-DNS team.
<BR>
