<BR>
<TMPL_IF ERROR><H2><TMPL_VAR NAME=ERROR></H2></TMPL_IF>
<B>Password Change Authorized</B><BR>
<BR>
<FORM METHOD=post ACTION=forgotpassword.html>
<INPUT TYPE=hidden name=action value=update>
<INPUT TYPE=hidden name=email value="<TMPL_VAR NAME=EMAIL>">
<INPUT TYPE=hidden name=key value="<TMPL_VAR NAME=KEY>">
To change your password for the login <B><TMPL_VAR NAME=EMAIL></B>, simply enter the new password you would like on the account, enter it again in the confirmation box, and click the "Update Password" button.<BR>
<BR>
<B>New Password: <INPUT TYPE=password name=newpassword size=40></B><BR>
<B>Confirm Password: <INPUT TYPE=password name=confpassword size=40></B><BR>
<INPUT TYPE=submit value="Update Password"><BR>
</FORM>
<DIV ALIGN=CENTER><I>Password must be at least 6 characters long, and contain at least one letter, and one number or symbol</I></DIV><BR>
