<BR>
<UL><B>Setting up Primary Secondary DNS.</B>
	<BR><BR>
	<UL>	
	<li> Register a domain. List of places to do this.
		<UL>
		<A class=blackonwhite HREF="http://www.networksolutions.com/">Network Solutions </A> Offering domains for $35
		<BR><A class=blackonwhite HREF="http://www.register.com/">Register.com </A> Offering domains for $35
		<BR><A class=blackonwhite HREF="http://www.godaddy.com/"><B>Godaddy Software </B></A> Offering domains for $8.95
		</UL>
	<BR>
	<li> Sign Up
		<UL>
		<A class=blackonwhite HREF="index.html?section=signup">Click Here to Sign Up</A>
		<BR>
		</UL>
		<BR>
	<li> <A class=blackonwhite HREF=faq.html#newdomainadd>Adding Domains</A>
	<li> <A class=blackonwhite HREF=faq.html#howmoddomain>Editing a Domain</A>
	</UL>
</UL>
<BR>
