<BR>
<H1>Introduction</H1>
<BLOCKQUOTE>Welcome to the Free Public DNS and URL redirection service by Purified Data.</BLOCKQUOTE>

<BLOCKQUOTE>Our free DNS service offers publicly available domain name hosting and 24/7 access to management of your domains through our easy to use web based management system with immediate updates to your zone records. We currently support the following top level domains (additional tlds may be requested at any time): <BLOCKQUOTE><TMPL_LOOP TLDS>.<TMPL_VAR NAME=TLD> </TMPL_LOOP></BLOCKQUOTE></BLOCKQUOTE>

<BLOCKQUOTE>Our free URL redirection (URL forwarding) allows you to setup easy to remember domains pointing to your website, no matter where it's hosted. This gives you a short URL that can stay the same no matter where you host your site, no matter how many times you change providers. We also support URL cloaking, which will keep your short URL in the location and title bar of your users browsers during their visits to your site.</BLOCKQUOTE>

<BLOCKQUOTE>While many services require you to wait 24-48 hours for your updates to go through, Public-DNS.com puts your changes into service immediately. This means your changes will be visible to the world within only 5-10 minutes. No need to wait for another 40 hours if you make a mistake, simply update the data and you're off. No need to wake up the administrator, or call your ISP, just jump online and update your domain!</BLOCKQUOTE>

<BLOCKQUOTE>Our servers are connected to the internet through 4 full OC3's connected to 4 Tier One ISP's, hosted in a temperature controlled environment with FM-200 fire suppression, battery backup, and a redundant diesel generator with enough juice to power the complex unmanned for days, and technicians stationed within minutes of the facility should it ever need hands on care.</BLOCKQUOTE>

<BLOCKQUOTE>With our service, if you ever need to switch domain registrars, you don't have to worry about recreating all your domain records, they'll still be right here. We even offer some automation utilities to make any migrations you have to do easier.</BLOCKQUOTE>

<BR>
