<BR>

<TABLE  CELLPADDING=0 CELLSPACING=0 BORDER=0 BGCOLOR=#000000 WIDTH=100%>
<TR><TD>
<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0 WIDTH=100%>
<TR>
	<TH BGCOLOR=#7d9fc4 COLSPAN=3><FONT COLOR=#FFFFFF>Confirm Removal of Domain from Pending Domain Queue</TH>
</TR>
<TR>
	<TD BGCOLOR=#d0e1f5>Domain: <TMPL_VAR NAME=DOMAIN></TD>
	<TD BGCOLOR=#d0e1f5 ALIGN=center><A class=sidelink HREF="<TMPL_VAR NAME=DELETE>">Confirm Removal</A></TD>
	<TD BGCOLOR=#d0e1f5 ALIGN=center><A class=sidelink HREF="<TMPL_VAR NAME=CANCEL>">Cancel</A></TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
<BR>
