<BR>
<B>Welcome to Public-DNS.org's domain administration area.</B><BR>
<BR>
Domain administration functions may be selected from the menu at the top of this page. Below is a short description of what each option will do.
<UL>
	<LI>Add domain:<UL>
		<LI>Adds new domains to the system under your account. New domains will enter the Pending Domain Queue, and will be run through an automatic verification process, the results of which will be e-mailed to your address upon completion.
		</UL>
	<LI>List All Domains:<UL>
		<LI>Lists all domains active in the system under your account. You can select domains from this list to modify the domain records for each domain. You can also opt to remove domains from Public-DNS.org from this list.
		</UL>
	<LI>List Pending Domains:<UL>
		<LI>Displays a list of domains under your account which are in our Pending Queue (Domains you added, but have not been verified yet) and the full status of those domains, included when they were last checked. You may also opt to remove domains from this list.
		</UL>
	<LI>Show Changelog:<UL>
		<LI>Allows you to display a log of all actions you have performed on your account, and when they occured (domain add's, domain delete's, record modifications/additions/deletions, etc).
		</UL>
	<LI>Help:<UL>
		<LI>Lists all the help pages available at Public-DNS.org
		</UL>
	<LI>List this domain:________ form:<UL>
		<LI>Allows you to specify one of your domains to display allowing you to edit that domain. You may also include a wildcard ( <B>*</B> ) which will match any number of domains that match.
		</UL>
	<LI>::your@login.com:: Logout:<UL>
		<LI>Clicking on your login e-mail address will take you to a form allowing you to change your password, or setup automated backups of your domains to your e-mail address.
		<LI>Clicking Logout will log you out of our system.
		</UL>
</UL>
<BR>
<BR>
