<BR>

<FORM METHOD=post action="<TMPL_VAR NAME=POSTSCRIPT>">
<INPUT TYPE=hidden name=action value=rr_add>
<INPUT TYPE=hidden name=Cid value="<TMPL_VAR NAME=CID>">

<TABLE  CELLPADDING=0 CELLSPACING=0 BORDER=0 BGCOLOR=#000000 WIDTH=100%>
<TR><TD>
<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0 WIDTH=100%>
<TR>
	<TH BGCOLOR=#7d9fc4 COLSPAN=6><FONT COLOR=#FFFFFF><TMPL_VAR NAME=DOMAIN> - Add Record</FONT></TH>
</TR>
<TR>
	<TH BGCOLOR=#98c2f0 COLSPAN=2>Action</TH>
	<TH BGCOLOR=#98c2f0>Record</TH>
	<TH BGCOLOR=#98c2f0>TTL</TH>
	<TH BGCOLOR=#98c2f0>Type</TH>
	<TH BGCOLOR=#98c2f0>Values</TH>
</TR>
<TR>
	<TD BGCOLOR=#d0e1f5 ALIGN=CENTER><INPUT TYPE=submit value=Add></TD>
	<TD BGCOLOR=#d0e1f5 ALIGN=CENTER><A class=sidelink HREF="<TMPL_VAR NAME=CANCEL>">Cancel</A></TD>
	<TD BGCOLOR=#d0e1f5><INPUT TYPE=text name=record maxlength="<TMPL_VAR NAME=MAX_RECORD_LENGTH>" value=""><TMPL_VAR NAME=DOMAIN></TD>
	<TD BGCOLOR=#d0e1f5><INPUT TYPE=text name=TTL value="86400" size=10 maxlength=10></TD>
	<TD BGCOLOR=#d0e1f5><INPUT TYPE=hidden name=type value="<TMPL_VAR NAME=TYPE>"><TMPL_VAR NAME=TYPE></TD>
	<TD BGCOLOR=#d0e1f5>

<TMPL_IF TYPE_A>
		<INPUT TYPE=text name=A size=3 maxlength=3 value="">.
		<INPUT TYPE=text name=B size=3 maxlength=3 value="">.
		<INPUT TYPE=text name=C size=3 maxlength=3 value="">.
		<INPUT TYPE=text name=D size=3 maxlength=3 value="">
</TMPL_IF>
<TMPL_IF TYPE_AAAA>
		<INPUT TYPE=text name=value size=39 maxlength=39 value="">
</TMPL_IF>
<TMPL_IF TYPE_MX>
		Preference:<INPUT TYPE=text name=pref size=2 maxlength=2 value="10">
		Value:<INPUT TYPE=text name=value maxlength=255 value="">
</TMPL_IF>
<TMPL_IF TYPE_HINFO>
		<INPUT TYPE=text name=val1 maxlength=255 value="">
		<INPUT TYPE=text name=val2 maxlength=255 value="">
</TMPL_IF>
<TMPL_IF TYPE_OTHER>
		<INPUT TYPE=text name=value maxlength=255 value="">
</TMPL_IF>

	</TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>

