<BR>

<FORM METHOD=post action="<TMPL_VAR NAME=POSTSCRIPT>">
<INPUT TYPE=hidden name=action value=rr_delete>
<INPUT TYPE=hidden name=RRid value="<TMPL_VAR NAME=RRID>">

<TABLE  CELLPADDING=0 CELLSPACING=0 BORDER=0 BGCOLOR=#000000 WIDTH=100%>
<TR><TD>
<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0 WIDTH=100%>
<TR>
	<TH BGCOLOR=#7d9fc4 COLSPAN=6><FONT COLOR=#FFFFFF><TMPL_VAR NAME=DOMAIN> - Confirm Record Delete</FONT></TH>
</TR>
<TR>
	<TH BGCOLOR=#98c2f0 COLSPAN=2>Action</TH>
	<TH BGCOLOR=#98c2f0>Record</TH>
	<TH BGCOLOR=#98c2f0>TTL</TH>
	<TH BGCOLOR=#98c2f0>Type</TH>
	<TH BGCOLOR=#98c2f0>Values</TH>
</TR>
<TR>
	<TD BGCOLOR=#d0e1f5 ALIGN=CENTER><INPUT TYPE=submit value=Delete></TD>
	<TD BGCOLOR=#d0e1f5 ALIGN=CENTER><A class=sidelink HREF="<TMPL_VAR NAME=CANCEL>">Cancel</A></TD>
	<TD BGCOLOR=#d0e1f5><TMPL_VAR NAME=FULLRECORD></TD>
	<TD BGCOLOR=#d0e1f5><TMPL_VAR NAME=TTL></TD>
	<TD BGCOLOR=#d0e1f5><TMPL_VAR NAME=TYPE></TD>
	<TD BGCOLOR=#d0e1f5>

<TMPL_IF TYPE_A>
		<TMPL_VAR NAME=A>.<TMPL_VAR NAME=B>.<TMPL_VAR NAME=C>.<TMPL_VAR NAME=D>
</TMPL_IF>
<TMPL_IF TYPE_MX>
		Preference:<TMPL_VAR NAME=pref> Value:<TMPL_VAR NAME=VALUE>
</TMPL_IF>
<TMPL_IF TYPE_HINFO>
		<TMPL_VAR NAME=VAL1>
		<TMPL_VAR NAME=VAL2>
</TMPL_IF>
<TMPL_IF TYPE_OTHER>
		<TMPL_VAR NAME=VALUE>
</TMPL_IF>

	</TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>

