<BR>
<B>Public-DNS.org and Purified Data, LLC Statement of Opposition to SCO and Support for Intellectual Property</B><BR>
<BR>

On August 14, 2003 in a conference call with reporters and financial
analysts, SCO CEO and President Darl McBride stated that the
"silent majority" of the IT industry is behind SCO in their present
legal battle.  It is unfortunate that some have given credence to SCO's
sweeping claims of ownership for which they refuse to offer
substantiation, and it is presumptuous that SCO now claims ownership
of the support of the majority of companies in the IT industry merely
because of their silence.  In an effort to prevent SCO from further
mis-leading others, we hereby state our opposition to SCO's recent
actions and we encourage other companies who have not spoken publicly
on the issue to do the same.

<p>

We support the right of authors and their employers to use
intellectual property laws to encourage cultivation of innovative
works and to protect those works.  We support the right of entities to
enter into reasonable contracts with each other for the use of said
intellectual property and to enforce those contracts through the due
process of the law.  While SCO claims to be fighting for these rights
which we do support, they are in actuality attempting to inflict grave
damage upon these rights.  While it is possible that SCO might have a
legitimate claim in their contractual dispute with IBM (though there
is no way to know this because SCO refuses to release specifics), one
legitimate claim would easily be overshadowed by the contempt and
hostility that SCO has shown to the intellectual property of others
and by SCO's staunch refusal to specify exactly what intellectual
property has been misappropriated so that it can be removed and SCO's
damages minimized.

<p>

It is with incredible irony that SCO claims to be fighting for
upholding the strength of intellectual property in general when in
fact they have shown, and continue to show, complete disregard for the
intellectual property of others and are seeking to undermine the ability
of authors and companies to distribute their own intellectual property
as they see fit.  SCO is fighting against intellectual property
protection in the following ways:

<ul>

<li>There are many thousands of contributors to the Linux kernel, of
which SCO has a dispute with a single one (IBM) over a very small
fraction of the code.  SCO is demonstrating disrespect of intellectual
property by attempting to hold the intellectual property of thousands
hostage in a dispute that does not involve them.

<li>SCO's attempt to charge for Linux licenses is a gross violation of
the intellectual property rights of the thousands of contributors to
Linux who are uninvolved in the lawsuit.  SCO is attempting to charge
for work of which the vast majority is not their own.
The purpose of intellectual property law is not to allow entities to
charge for the work of others as SCO is trying to do.

<li>The most flagrant violation of intellectual property by SCO is
that they continue to distribute Linux themselves in complete contempt
of the license that the thousands of contributors chose to put
their own work under.  Even if SCO does have a claim to some
intellectual property in Linux, this would hardly give them the right
to all of Linux.  They are distributing the work of thousands without
permission and this goes directly against the core of intellectual
property rights.

<li>SCO is seeking to undermine the very foundation of intellectual
property law by attempting to have the license that Linux is
distributed under declared invalid.  Their argument is that the
license is invalid because it allows the end user to make multiple
copies of the software whereas US copyright law states that users are
allowed to make one copy.  The context of the law and even common
sense alone make it clear that one copy is the minimum that
users must be allowed to make and not the maximum.  Not only is SCO's
claim counterintuitive, but it also strikes against the core principal
of intellectual property which is that owners of the intellectual
property may control how their property is used.  SCO is arguing
that an intellectual property owner should not have control over the
reproduction of that property.  This argument would have a very broad,
negative impact on the industry as it would not only invalidate the
license used for Linux, but it would also invalidate a large number of
other licenses for both free and proprietary software where customers
are granted a site license.  There is no way that SCO can claim to be
a supporter of intellectual property rights when they attempt to
destroy the rights relied upon by the whole industry, especially when
their suit with IBM is a contractual dispute (according to SCO) and
only peripherally related to licensing.

</ul>

<hr width="100%" align="center">

This statement is Copyright 2003 by
<a href="http://www.pensamos.com/">Pensamos Digital</a>
- All Rights Reserved.  The right to distribute an unlimited number
of verbatim copies of this statement is hereby granted (and
encouraged) provided this redistribution notice remains intact.

<hr width="100%" align="center">

