<BR>
<B>Public-DNS Interface ScreenShots</B><BR>
<I>(click on images for full size versions)</I><BR>
<CENTER>
<BR><B>Logged In</B><BR>
<A HREF=screenshots/loggedin.jpg ><IMG SRC=screenshots/loggedin_t.jpg BORDER=0></A><BR>
<BR><B>Modify user preferences (change password, schedule automated backups)</B><BR>
<A HREF=screenshots/modifyuserprefs.jpg ><IMG SRC=screenshots/modifyuserprefs_t.jpg BORDER=0></A><BR>
<BR><B>Add Domain</B><BR>
<A HREF=screenshots/adddomain.jpg ><IMG SRC=screenshots/adddomain_t.jpg BORDER=0></A><BR>
<BR><B>List Pending Domain Additions</B><BR>
<A HREF=screenshots/pending.jpg ><IMG SRC=screenshots/pending_t.jpg BORDER=0></A><BR>
<BR><B>Show Domain</B><BR>
<A HREF=screenshots/printdomain.jpg ><IMG SRC=screenshots/printdomain_t.jpg BORDER=0></A><BR>
<BR><B>Add DNS Record</B><BR>
<A HREF=screenshots/addrecord.jpg ><IMG SRC=screenshots/addrecord_t.jpg BORDER=0></A><BR>
<BR><B>Delete DNS Record</B><BR>
<A HREF=screenshots/deleterecord.jpg ><IMG SRC=screenshots/deleterecord_t.jpg BORDER=0></A><BR>
<BR><B>Edit DNS Record</B><BR>
<A HREF=screenshots/editrecord.jpg ><IMG SRC=screenshots/editrecord_t.jpg BORDER=0></A><BR>
<BR><B>Add URL Redirector</B><BR>
<A HREF=screenshots/addurlredirector.jpg ><IMG SRC=screenshots/addurlredirector_t.jpg BORDER=0></A><BR>
<BR><B>Show Log of Changes</B><BR>
<A HREF=screenshots/changelog.jpg ><IMG SRC=screenshots/changelog_t.jpg BORDER=0></A><BR>
</CENTER>
