<BR>

<TABLE  CELLPADDING=0 CELLSPACING=0 BORDER=0 BGCOLOR=#000000 WIDTH=100%>
<TR><TD>
<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0 WIDTH=100%>
<TR>
	<TH BGCOLOR=#7d9fc4><FONT COLOR=#FFFFFF>Sign Up Successful!</TH>
</TR>
<TR>
	<TD BGCOLOR=#d0e1f5><BR><BLOCKQUOTE>
	<B>Welcome to Public-DNS! - almost there...</B><BR>
	<BR>
	We have sent an e-mail to your account. It contains instructions on activating your account. After you have followed the steps in the e-mail, you will be able to begin to take advantage of the Public-DNS services.<BR>
	<BR>
	You should recieve this e-mail within approximately 15 minutes.
	</BLOCKQUOTE><BR>
	</TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>

</BODY></HTML>
