<BR>

<TABLE  CELLPADDING=0 CELLSPACING=0 BORDER=0 BGCOLOR=#000000 WIDTH=100%>
<TR><TD>
<TABLE CELLPADDING=0 CELLSPACING=1 BORDER=0 WIDTH=100%>
<TR>
	<TH BGCOLOR=#7d9fc4><FONT COLOR=#FFFFFF>Sign Up!</TH>
</TR>
<TR>
	<TD BGCOLOR=#d0e1f5><BR><BLOCKQUOTE>
	Our service is completely free. We will not disclose your information to anyone, regardless of your status with us (see <A HREF=privacypolicy.htm>Our Privacy Policy</A> for more information).<BR>
	To sign up, complete the form below and click the "Sign Up" button. A confirmation e-mail will be sent to the e-mail address you provide, which will contain a URL link. You must go to that URL to confirm the validity of your e-mail address. Instructions will be contained in the e-mail.
	</BLOCKQUOTE><BR>
	</TD>
</TR>
<FORM METHOD=post action=signup.html>
<INPUT TYPE=hidden name=action value=post>
<TR>
	<TD BGCOLOR=#d0e1f5>
		<BR><BLOCKQUOTE>
		E-mail address (also used as your login name): <INPUT TYPE=text name=login maxlength=255><BR>
		Password: <INPUT TYPE=password name=passwd maxlength=255><BR>
		Confirm Password: <INPUT TYPE=password name=confpasswd maxlength=255><BR>
		(password must at least 6 characters, and contain at least one letter and at least one number or symbol)<BR>
		<INPUT TYPE=submit value="Sign Up">
		</BLOCKQUOTE><BR>
	</TD>
</TR>
</FORM>
</TABLE>
</TD></TR>
</TABLE>

</BODY></HTML>
