<BR>
<TABLE  cellSpacing="1" cellPadding="1" width="125" align="right" border="1">
	<TR>
		<TH BGCOLOR="#7d9fc4" COLSPAN="2">
			<FONT COLOR="#ffffff">Domain Status</FONT>
	</TH>

	<TR>
		<TD>Masters</TD>
		<TD><TMPL_VAR NAME=MASTERS></TD>
	</TR>
	<TR>
		<TD>Slaves</TD>
		<TD><TMPL_VAR NAME=SLAVES></TD>
	</TR>
	<TR>
		<TD><B>Total</B></TD>
		<TD><B><TMPL_VAR NAME=TOTAL></B></TD>
	</TR>
</TABLE>

<BR><BR><BR><BR><BR><BR>

<CENTER>
<B>There is currently nothing to report. All systems are normal.</B>
<BR>
<BR><BR><BR>

If you are experiencing problems, please <A class=blackonwhite HREF=index.html?section=contact>contact us</A> and we will attend to your questions.
<HR>
<BR>
</CENTER>

