This could be a page all about our URL forwarding services.<BR>
<BR>
Basically, if someone has a domain pointed at this IP (our URL forwarding IP), and that domain wasn't setup for URL filtering, we'll give them this nice ad for our free URL forwarding.

